/* boxToy.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: black;
}

.show{
    opacity: 1 !important;
    display: block !important;
}

.text-container {
    z-index: 100;
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding-bottom: 1%;
}

body{
    align-items: center;
    caret-color: transparent;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.container {
    max-width: 65vw;
    max-height: 65vh;
    margin: auto;
}

.image-hotspot{
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin: auto;
    position: relative;
    z-index: 0;
}

.image-hotspot img{
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    /* overflow: hidden; */
    z-index: 0;
}

/* Styles for the icon */
.icon {
/*     border: 1px solid rgba(46, 38, 38, 0.808); */
/*     background: rgba(0, 0, 255, 0.282); */
    cursor: default;
    position: absolute;
    z-index: 10;
}

/* Styles for the spinning icon */
.orangePinwheelIcon {
    -webkit-clip-path: polygon(28% 3%, 41% 31%, 41% 31%, 69% 18%, 99% 21%, 71% 41%, 75% 68%, 75% 68%, 72% 95%, 72% 95%, 57% 69%, 24% 75%, 24% 75%, 4% 70%, 4% 70%, 31% 58%, 22% 22%, );
    clip-path: polygon(28% 3%, 41% 31%, 41% 31%, 69% 18%, 99% 21%, 71% 41%, 75% 68%, 75% 68%, 72% 95%, 72% 95%, 57% 69%, 24% 75%, 24% 75%, 4% 70%, 4% 70%, 31% 58%, 22% 22%);
    left: 19%;
    bottom: 5.9%;
    height: 18.5vw;
    width: 18.5vw;
    /* border-radius: 50% 45% 45% 44%; */
    position: absolute;
    z-index: 10;
    cursor: pointer;
    rotate: 2deg;
    opacity: 1;
}

/* Styles for the function-box and its image */
.function.orangePinwheelImage {
    left: 20.2%;
    bottom: 8%;
    height: 17vw;
    position: absolute;
    /* overflow: hidden; */
    radius: 100%;
    z-index: 11;
    cursor: pointer;
    width: auto;
    opacity: 1;
    /* animation: spinAnimation 1s; */
    /* opacity: 0; */
}

.function-box img {
    width: 100%;
    height: auto;
}

/* Keyframes for the spin animation */
@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Styles for the spinning animation */
.spin {
    animation: spinAnimation 3s linear infinite;
}
