/* boxToy.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: black;
}

.show{
    opacity: 1 !important;
    display: block !important;
}

.text-container {
    z-index: 100;
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding-bottom: 1%;
}

body{
    align-items: center;
    caret-color: transparent;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.container {
    max-width: 70vw;
    max-height: 70vh;
    margin: auto;
}

.image-hotspot{
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin: auto;
    position: relative;
    z-index: 0;
}

.image-hotspot img{
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    /* overflow: hidden; */
    z-index: 0;
}

/* Styles for the icon */
.icon {
/*     border: 1px solid rgba(46, 38, 38, 0.808); */
/*     background: rgba(0, 0, 255, 0.282); */
    cursor: default;
    position: absolute;
    z-index: 10;
}

/* Styles for the spinning icon */
.orangePinwheelIcon {
    top: 53%;
    left: 27%;
    width: 21vw;
    height: 22vw;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

/* Styles for the function-box and its image */
.function-box {
    position: absolute;
    top: 2%;
    overflow: hidden;
    z-index: 9;
    cursor: pointer;
}

.function-box img {
    width: 100%;
    height: auto;
}

/* Keyframes for the spin animation */
@keyframes spinAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Styles for the spinning animation */
.spin.on {
    animation: spinAnimation 1s linear infinite;
}
