/* tubeToy.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: black;
}

.show{
    opacity: 1 !important;
    display: block !important;
}

.text-container {
    z-index: 100;
    position: fixed;
    bottom: 5%;
    right: 2%;
    padding-bottom: 1%;
}

body{
    align-items: center;
    caret-color: transparent;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.container {
    max-width: 70vw;
    max-height: 70vh;
    margin: auto;
}

.image-hotspot{
    max-width: 100%;
    max-height: 100%;
    align-content: center;
    margin: auto;
    position: relative;
    z-index: 0;
}

.image-hotspot img{
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
    /* overflow: hidden; */
    z-index: 0;
}

/* Styles for the icon */
.icon {
/*     border: 1px solid rgba(46, 38, 38, 0.808); */
/*     background: rgba(0, 0, 255, 0.282); */
    cursor: default;
    position: absolute;
    z-index: 10;
}

/* Styles for the spinning icon */
.whiteDuckIcon {
    top: 31.2%;
    right: 16.1%;
    width: 2.7vw;
    height: 3.7vw;
    border-radius: 50% 45% 50% 50%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    rotate: 0deg;
    opacity: 1;
}

/* Styles for the function-box and its image */
.function.whiteDuckImage {
    right: 13%;
    top: 8.8%;
    height: 12vw;
    position: absolute;
    /* overflow: hidden; */
    z-index: 11;
    cursor: pointer;
    width: auto;
    opacity: 1;
    animation: squeakAnimation 1s;
    display: none;
    /* opacity: 0; */
}

/* Keyframes for the spin animation */
@keyframes squeakAnimation {
    /* what the animation does at the start of the sequence (aka 0% progress)*/
    0% {
        transform: scale(1) translateY(0); /* Start position */
      }
      /* what the animation does about two-thirds through the sequence (aka 67.5% progress)*/
      67.5% {
        transform: scale(0.96) translateY(-.5%); /* Squeezing motion */
      }
      /* what the animation does at the end of the sequence (aka 100% progress)*/
      100% {
          transform: scale(1) translateY(0); /* Back to start */
        }

/* Styles for the spinning animation */
.squeak.on {
    animation: squeakAnimation 1.5s linear infinite;
}
