<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="/projects">Projects</a></li>
        		<li><a href="/cv/curriculum_vitae.pdf", target="_blank">CV</a></li>
        		<li><a href="/blog">Blog Posts</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}

			</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:colantoniojoseph@gmail.com"><svg>
        			<img src="assets\icons\envelope.svg" alt="Email" width=50px>
        		</svg></a></li>
        		<li><a href="https://github.com/ColantonioLearn", target="_blank"><svg><img src="assets\icons\github_fill.svg" alt="Github" width=50px></svg></a></li>
						<li><a href="https://www.linkedin.com/in/joseph-colantonio-63186692/", target="_blank"><svg><img src="assets\icons\linkedin_fill.svg" alt="Email" width=50px></svg></a></li>
						<li><a href="https://twitter.com/JosephCola2nd", target="_blank"><svg><img src="assets\icons\twitter.svg" alt="Twitter" width=50px></svg></a></li>
			</ul>
		</footer>
	</body>
</html>
