<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> <!-- Setting the encoding -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Practice for building a website">
		<meta name="author" content="Joseph Colantonio">
		<title>{{ page.title }}</title>
		<!-- link to stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/" class="menu">Home</a></li>
	        	<li><a href="/about" class="menu">About</a></li>
			<li><a href="/research" class="menu">Research</a></li>
        		<li><a href="/cv/curriculum_vitae.pdf", target="_blank" class="menu">CV</a></li>
        		<li><a href="/blog" class="menu">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}

			</div><!-- /.container -->
		<footer class='center'>
		</footer>
	</body>
</html>
